<div class="container">
  <!-- if not adding payment details show add payment method if not show your payments -->
  <div class="editPayment">
    <h2>Your Payments</h2>
    <div>
      <div class="mt-2 mb-2 align-items-center">
        <div class="card justify-content-center edit">
          <div class="card-body align-items-center">
            <h3 class="card-title fw-bold">Your Payment Details</h3>
            <div>
              <label class="fw-bold">Payment Type:</label>
              <p>CREEEEDDITT</p>
            </div>
            <div>
              <label class="fw-bold">Proivder:</label>
              <p>bankkk</p>
            </div>
            <div>
              <label class="fw-bold">Account number:</label>
              <p>123456</p>
            </div>
            <div>
              <label class="fw-bold">Expire Date:</label>
              <p>1/1/1111</p>
            </div>
            <div class="row justify-content-center">
              <input
                class="btn btn-outline-success col-4 m-3"
                type="button"
                value="Add Payment Method"
              />
              <input
                class="btn btn-outline-success col-4 m-3"
                type="button"
                value="Edit Payment"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
