<div class="container">
  <div *ngIf="!userPaymentDetails">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <!-- if not adding payment details show add payment method if not show your payments -->
  <div class="editPayment">
    <h2>Your Payments</h2>
    <div *ngFor="let payments of userPaymentDetails">
      <div class="mt-2 mb-2 align-items-center">
        <div class="card justify-content-center edit">
          <div class="card-body align-items-center">
            <h3 class="card-title fw-bold">Your Payment Details</h3>
            <div>
              <label class="fw-bold">Account number:</label>
              <p>{{ payments.accountNumber }}</p>
            </div>
            <div>
              <label class="fw-bold">Proivder:</label>
              <p>{{ payments.provider }}</p>
            </div>
            <div>
              <label class="fw-bold">Payment Type:</label>
              <p>{{ payments.paymentType }}</p>
            </div>
            <div>
              <label class="fw-bold">Expire Date:</label>
              <p>{{ payments.expireDate }}</p>
            </div>
            <div class="row justify-content-center">
              <input
                class="btn btn-outline-success col-4 m-3"
                type="button"
                value="Add Payment Method"
                routerLink="/addpayment"
              />
              <input
                class="btn btn-outline-success col-4 m-3"
                type="button"
                value="Edit Payment"
                routerLink="/editpayment"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
