  p{
color: black;

  }
  :root {
    --color-background: #fae3ea;
    --color-primary: #fc8080;
    --font-family-base: Poppin, sans-serif;
    --font-size-h1: 1.25rem;
    --font-size-h2: 1rem;
  }
  
  footer{
background-color: lightgreen;

  }
  