<section class="bg-light py-5">
  <div class="container">
    <div *ngIf="!userDetails">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div *ngIf="userDetails">
      <form (submit)="handleSumbit($event)" [formGroup]="placeOrder">
        <div class="row">
          <div class="col-xl-8 col-lg-8 mb-4">
            <!-- Checkout -->
            <div class="card shadow-0 border">
              <div class="p-4">
                <h5 class="card-title mb-3">Your Details</h5>
                <div></div>
                <div class="row">
                  <div class="col-6 mb-3">
                    <label class="mb-0">Name :</label>
                    <div class="form-outline">
                      <input
                        type="text"
                        readonly
                        class="form-control-plaintext"
                        id="staticUserName"
                        value="{{ userDetails.userName }}"
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        [hidden]="true"
                        value="{{ userDetails.id }}"
                        formControlName="userId"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-6 mb-3">
                    <label class="mb-0">Phone :</label>
                    <div class="form-outline">
                      <input
                        type="text"
                        readonly
                        class="form-control-plaintext"
                        id="staticPhone"
                        value="{{ userDetails.phoneNumber }}"
                      />
                    </div>
                  </div>

                  <div class="col-6 mb-3">
                    <label class="mb-0">Email :</label>
                    <div class="form-outline">
                      <input
                        type="text"
                        readonly
                        class="form-control-plaintext"
                        id="staticEmail"
                        value="{{ userDetails.email }}"
                      />
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <h5 class="card-title mb-3">Shipping Companies</h5>
                <div class="row mb-3">
                  <div *ngFor="let shipComp of getAllShippingComp">
                    <div class="col-lg-4 mb-3">
                      <!-- Default checked radio -->
                      <div class="form-check h-100 border">
                        <div class="p-3">
                          <div>
                            <input
                              class="form-check-input"
                              type="radio"
                              value="{{ shipComp.id }}"
                              formControlName="shippId"
                              name="flexRadioDefault"
                              checked
                            />
                            <label class="form-check-label" s>
                              {{ shipComp.name }} <br />
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />

                <h5 class="card-title mb-3">Payement Methods:</h5>
                <div class="row mb-3">
                  <div
                    class="col-lg-4 mb-3"
                    *ngFor="let payment of userPayments"
                  >
                    <!-- Default checked radio -->
                    <div class="form-check h-100 border rounded-3">
                      <div class="p-3">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="flexRadio"
                          checked
                        />
                        <label class="fw-bold">Provider:</label>
                        <p class="form-check-label">
                          {{ payment.provider }}<br />
                        </p>
                        <label class="fw-bold">Account Number:</label>
                        <p class="form-check-label">
                          {{ payment.accountNumber }}<br />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- addresss -->

                <h5 class="card-title mb-3">Your Addresses:</h5>
                <div class="row mb-3">
                  <!-- Default checked radio -->
                  <div class="form-check h-100 border rounded-3">
                    <div
                      class="col d-flex justify-content-between mb-2"
                      *ngFor="let addrs of userAddress"
                    >
                      <div class="p-3">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="flexRadio2"
                          value="{{ addrs.id }}"
                          formControlName="addId"
                          checked
                        />
                        <label class="fw-bold">Address:</label>
                        <p class="form-check-label">
                          {{ addrs.address }}<br />
                        </p>
                        <label class="fw-bold">City</label>
                        <p class="form-check-label">{{ addrs.city }}<br /></p>
                        <label class="fw-bold">County</label>
                        <p class="form-check-label">
                          {{ addrs.country }}<br />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Checkout -->
          </div>
          <div
            class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end"
          >
            <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px">
              <div class="p-3">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadio4"
                  value="{{ userDetails.id }}"
                  formControlName="userId"
                  checked
                />
                Please Check For Payments
              </div>
              <hr />
              <h6 class="text-dark my-4">Items in cart</h6>

              <div class="d-flex align-items-center mb-4">
                <div class="me-3 position-relative">
                  <div class="card" style="width: 18rem">
                    <div class="card-body">
                      <h5 class="card-title">Item name</h5>
                      <p class="card-text">Product price and details</p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <label>Quantity :</label>
                <span class="mb-2">"{{placeOrd.quantity}}"</span>
              </div>
              <div>
                <label>Price :</label>
                <span class="mb-2">Price</span>
              </div>
              <hr />
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <div>
                  <input
                    formControlName="totalPrice"
                    type="number"
                    value="{{placeOrd.totalPrice}}"
                    class="form-control"
                    id="totalPrice"
                  />
                </div>
                <p class="fw-bold">$</p>
              </div>
              <div class="row d-flex justify-content-between">
                <button
                  [disabled]="!placeOrder.valid"
                  type="submit"
                  class="col-5 btn btn-outline-success"
                  routerLink="home"
                >
                  Check Out
                </button>
                <button class="col-5 btn btn-outline-success">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
