<div class="container">
  <div class="formstyle">
    <h2>Change Password</h2>
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="registerImg rounded"
        src="../../../../assets/WhatsApp Image 2023-11-10 at 7.09.00 PM (1).jpeg"
      />
    </div>
    <form (submit)="handleSubmit($event)" [formGroup]="updateUserForm">
      <div class="mb-3">
        <div class="mb-3">
          <label for="oldpassword" class="form-label">Old Password</label>
          <input
            formControlName="OldPassword"
            type="password"
            class="form-control"
            id="oldpassword"
          />
        </div>
        <div class="alert alert-warning" *ngIf="tryAgainError">
          Please Enter Correct Password
        </div>
        <div
          class="alert alert-warning"
          *ngIf="OldPassword?.touched && updateUserForm.controls.OldPassword.errors?.['required']"
        >
          This field is required
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input
            formControlName="Password"
            type="password"
            class="form-control"
            id="password"
          />
        </div>

        <div
          class="alert alert-warning"
          *ngIf="Password?.touched && updateUserForm.controls.Password.errors?.['required']"
        >
          This field is required
        </div>
        <div
          class="alert alert-warning"
          *ngIf="updateUserForm.controls.Password.touched && updateUserForm.controls.Password.errors?.['pattern']"
        >
          <ol>
            <li>Password length between 8 and 20 characters</li>
            <li>At least one uppercase letter</li>
            <li>At least one lowercase letter</li>
            <li>At least one digit (number)</li>
            <li>Allows special characters such as !&commat;#$%^&*()_+</li>
          </ol>
        </div>
        <div class="mb-3">
          <label for="confirmpassword" class="form-label"
            >Confirm Password:</label
          >
          <input
            formControlName="ConfirmPassword"
            type="password"
            class="form-control"
            id="confirmpassword"
          />
        </div>
        <div
          class="alert alert-warning"
          *ngIf="ConfirmPassword?.touched && updateUserForm.controls.ConfirmPassword.errors?.['required']"
        >
          This field is required
        </div>
        <div
          class="alert alert-warning"
          *ngIf="
            ConfirmPassword?.touched &&
            updateUserForm.value.Password !=
              updateUserForm.value.ConfirmPassword
          "
        >
          Password doesn't match
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-5 text-center">
          <button
            type="submit"
            class="btn btn-outline-success"
            [disabled]="!updateUserForm.valid"
          >
            Submit
          </button>
        </div>
        <div class="col-5 text-center">
          <button class="btn btn-outline-success" routerLink="/accountsetting">
            Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
