<section class="cardsholder">
<div id="productscards">
  <div class="card" style="width: 25rem"*ngFor="let product of products" >

    <div  routerLink="/product/{{product.id}}">
        <img *ngIf="product.images && product.images.length > 0" src="{{product.images[0].imageUrl}}" class="card-img-top" alt="..."/>
      
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">
        {{product.id}}
        {{product.description}}   
      </p>
    </div>
  </div>
</div>
    </div>
    
</section>
<!--
  1 <app-select [data]="categories" [title]="'Categories'" (selectedValue)="filterCategory($event)" ></app-select>
  *ngIf="!loading"
  2 *ngFor="let item of products"
  3 <app-product [data]="item" (item)="addToCart($event)" ></app-product>
  4 <div class="text-center w-100" *ngIf="loading">
      <app-spinner></app-spinner>
    </div>

-->

<!-- <div *ngFor="let item of product.images">
  <img src="{{item.imageUrl}}" class="card-img-top" alt="..."/>
</div> -->