<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:15%;" id="mySidebar">
    <h3>Categories</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
            <label class="form-check-label stretched-link" for="firstCheckboxStretched">First checkbox</label>
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckboxStretched">
            <label class="form-check-label stretched-link" for="secondCheckboxStretched">Second checkbox</label>
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckboxStretched">
            <label class="form-check-label stretched-link" for="thirdCheckboxStretched">Third checkbox</label>
        </li>
    </ul>
</div>