<div class="container">
  <div class="row justify-content-center d-flex">
    <div class="col-6 mt-2 mb-2 align-items-center">
      <div class="card justify-content-center edit">
        <div class="card-body align-items-center">
          <h3 class="card-title fw-bold">Your Address</h3>
          <h4>Name</h4>
          <p>street</p>
          <p>alexandria/egy</p>
          <p>phone</p>
          <div class="row justify-content-center">
            <input
              class="btn btn-primary col-3 m-3"
              type="button"
              value="Add Address"
              routerLink="/addaddress"
            />
            <input
              class="btn btn-primary col-3 m-3"
              type="button"
              value="Edit Address"
            />
            <input
              class="btn btn-primary col-3 m-3"
              type="button"
              value="Remove Address"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
