<h4 *ngIf="err != null" style="margin: auto; width: fit-content;">{{err}}</h4>
<div class="container mt-5 mb-5" *ngIf="productDetail != null">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div id="carouselExample" class="carousel slide" *ngIf="productDetail.images && productDetail.images.length > 0">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="{{productDetail.images[0].imageUrl}}" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item" *ngFor="let item of productDetail.images">
                                    <img src="{{item.imageUrl}}" class="d-block w-100" alt="Not Found">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                </div>
                            </div>
                        </div>
                    
                    <div class="col-md-6">
                        <div class="product p-4">
                            
                            <div class="cart mt-4 align-items-center"> 
                                <button routerLink="/home" class="btn btn-danger text-uppercase mr-2 px-4">Back</button> 
                            </div>
                            
                            <div class="mt-4 mb-3"> 
                                <h5 class="text-uppercase">{{productDetail.name}}</h5>
                                <div class="price d-flex flex-row align-items-center">
                                     <span class="act-price" *ngIf="productDetail.discountPercent != 0">
                                        {{productDetail.price - (productDetail.price*productDetail.discountPercent)}}
                                    </span>
                                    <div class="ml-2">
                                        <small class="dis-price ms-3" *ngIf="productDetail.discountPercent != 0">
                                            {{productDetail.price}}
                                        </small> 
                                        <small class="act-price ms-3" *ngIf="productDetail.discountPercent == 0" style="color:#044E2E; font-size: large; font-weight: bolder;">
                                            {{productDetail.price}} EGP
                                        </small> 
                                        
                                        <span class="ms-3" *ngIf="productDetail.discountPercent != 0" style="color:#044E2E; font-size: large; font-weight: bold;">
                                            {{productDetail.discountPercent}}% Discount
                                        </span> 
                                    </div>
                                </div>
                            </div>
                            
                            <p class="about">
                                {{productDetail.description}}
                            </p>
                            <p style="color:#044E2E; font-size: large;" *ngIf="productDetail.quantity == 0"> 
                                This product is not available
                            </p>
                            <div class="dropdown" *ngIf="productDetail.quantity > 0 ">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#044E2E; font-size: large;">
                                    <span *ngIf="ChoosenQuantity == 0">Quantity</span>
                                    <span *ngIf="ChoosenQuantity != 0">{{ChoosenQuantity}}</span>
                                    
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" (click)="EditQuantity(1)">1</a></li>
                                    <li><a class="dropdown-item" (click)="EditQuantity(2)">2</a></li>
                                    <li><a class="dropdown-item" (click)="EditQuantity(3)">3</a></li>
                                    <li><a class="dropdown-item" (click)="EditQuantity(4)">4</a></li>
                                    <li><a class="dropdown-item" (click)="EditQuantity(5)">5</a></li>
                                </ul>
                            </div>

                            <div class="cart mt-4 align-items-center"> 
                                <button class="btn btn-danger text-uppercase mr-2 px-4" (click)="AddtoCart()">Add to cart</button> 
                            </div>

                            <div class="cart mt-4 align-items-center">
                                <button class="btn btn-danger text-uppercase mr-2 px-4" (click)="OrderNow()">Order Now</button> 
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>