<p>UserAccountInformation works!</p>
<div class="container">
  <div class="card editInfo mb-2">
    <h5 class="card-header">Name</h5>
    <div class="card-body row">
      <label class="fw-bold">Name :</label>
      <p>Omr yosser</p>
      <a href="#" class="btn btn-outline-success w-50 m-auto">Add</a>
    </div>
  </div>
  <div class="card editInfo mb-2">
    <h5 class="card-header">Email</h5>
    <div class="card-body row">
      <label class="fw-bold">Emaik :</label>
      <p>Omr yossergmail.com</p>
      <a href="#" class="btn btn-outline-success w-50 m-auto">Edit</a>
    </div>
  </div>
  <div class="card editInfo mb-2">
    <h5 class="card-header">Primay mobile number :</h5>
    <div class="card-body row">
      <label class="fw-bold">Mobile number :</label>
      <p>01111113907</p>
      <a href="#" class="btn btn-outline-success w-50 m-auto">Add</a>
    </div>
  </div>
  <div class="card editInfo mb-2">
    <h5 class="card-header">Password</h5>
    <div class="card-body row">
      <label class="fw-bold">Passowrd :</label>
      <p>********</p>
      <a href="#" class="btn btn-outline-success w-50 m-auto">Edit</a>
    </div>
  </div>
</div>
<!-- todo -->
<!-- if there is number say edit if not edit -->
