<div class="container">
  <div class="row">
    <div class="col-6 mt-2 mb-2 align-items-center">
      <div class="card justify-content-center edit">
        <div class="card-body align-items-center">
          <h3 class="card-title fw-bold">Your Order</h3>
          <img class="img mb-2" src="../../../../assets/TrackOrderIcon.png" />
          <p class="card-text">
            Return an order , Cancel an order , See your order Or buy again.
          </p>
          <input
            routerLink="['/home']"
            routerLinkActive="acitve"
            class="btn btn-outline-success"
            type="button"
            value="Go To Orders"
            routerLink="userorders"

          />
        </div>
      </div>
    </div>
    <div class="col-6 mt-2 mb-2">
      <div class="card justify-content-center edit">
        <div class="card-body">
          <h3 class="card-title fw-bold">Your Payments</h3>
          <img class="img mb-2" src="../../../../assets/YourPayments.png" />
          <p class="card-text">
            Mange or add payemnts methods and view your transactions.
          </p>
          <div class="row d-flex justify-content-center">
            <div class="col-5">
              <input
                class="btn btn-outline-success"
                type="button"
                value="Go to Payments"
                routerLink="userpayment"
              />
            </div>
            <div class="col-5">
              <button
                class="btn btn-outline-success"
                type="button"
                routerLink="/addpayment"
              >
                Add Payment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 mt-2 mb-2">
      <div class="card justify-content-center edit">
        <div class="card-body">
          <h3 class="card-title fw-bold">Login & Security</h3>
          <img
            class="img mb-2"
            src="../../../../assets/loginAndSecurityIcon.png"
          />
          <p class="card-text">
            Manage password, email, mobile and security settings
          </p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-5 mb-3">
            <input
              class="btn btn-outline-success"
              type="button"
              value="Account Data"
              routerLink="accountinfo"
            />
          </div>
          <div class="col-5 mb-3">
            <input
              class="btn btn-outline-success"
              type="button"
              value="Change Password"
              routerLink="changepw"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 mt-2 mb-2">
      <div class="card justify-content-center edit">
        <div class="card-body">
          <h3 class="card-title fw-bold">Your Address</h3>
          <img class="img mb-2" src="../../../../assets/yourAddressIcon.png" />
          <p class="card-text">Edit , remove or set default address</p>
          <div class="row d-flex justify-content-center">
            <div class="col-5">
              <input
                class="btn btn-outline-success"
                type="button"
                value="Go To Addresses"
                routerLink="useraddress"
              />
            </div>
            <div class="col-5">
              <input
                class="btn btn-outline-success"
                type="button"
                value="Add Address"
                routerLink="/addaddress"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
