<div class="container">
  <div class="formstyle">
    <h2>Create admin account</h2>
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="registerImg rounded"
        src="../../../../assets/WhatsApp Image 2023-11-10 at 7.09.00 PM (1).jpeg"
      />
    </div>
    <form (submit)="handleSubmit($event)" [formGroup]="adminRegister">
      <div class="mb-3">
        <label for="username" class="form-label">User Name</label>
        <input
          formControlName="UserName"
          type="text"
          class="form-control"
          id="username"
          name="username"
        />
      </div>
      <div
        class="alert alert-warning"
        *ngIf="UserName?.touched && adminRegister .controls.UserName.errors?.['required']"
      >
        This field is required
      </div>
      <div
        class="alert alert-warning"
        *ngIf="adminRegister  .controls.UserName.touched && adminRegister .controls.UserName.errors?.['maxlength']"
      >
        The user name is too long
      </div>
      <div
        class="alert alert-warning"
        *ngIf="adminRegister  .controls.UserName.touched && adminRegister .controls.UserName.errors?.['minlength']"
      >
        The user name is too short
      </div>

      <!-- <div
        class="alert alert-warning"
        *ngIf="UserName?.invalid && UserName?.touched"
      >
        <span *ngIf="UserName?.errors?.['required']"
          >Please Enter User Name</span
        >
        <span *ngIf="UserName?.errors?.['maxLength']"
          >Max Length is 20 charchter</span
        >
      </div> -->
      <div class="mb-3">
        <label class="form-label" for="fname">First Name</label>
        <input
          formControlName="Fname"
          type="text"
          class="form-control"
          id="fname"
          name="fname"
        />
      </div>
      <div
        class="alert alert-warning"
        *ngIf="Fname?.touched && adminRegister  .controls.Fname.errors?.['required']"
      >
        This field is required
      </div>
      <div
        class="alert alert-warning"
        *ngIf="adminRegister  .controls.Fname.touched && adminRegister  .controls.Fname.errors?.['maxlength']"
      >
        The First name is too long
      </div>
      <div
        class="alert alert-warning"
        *ngIf="adminRegister  .controls.Fname.touched && adminRegister  .controls.Fname.errors?.['minlength']"
      >
        The First name is too short
      </div>
      <div class="mb-3">
        <label class="form-label" for="lname">Last Name</label>
        <input
          formControlName="Lname"
          type="text"
          class="form-control"
          id="lname"
          name="lname"
        />
        <div
          class="alert alert-warning"
          *ngIf="Lname?.touched && adminRegister  .controls.Lname.errors?.['required']"
        >
          This field is required
        </div>
        <div
          class="alert alert-warning"
          *ngIf="adminRegister  .controls.Lname.touched && adminRegister  .controls.Lname.errors?.['maxlength']"
        >
          The Last name is too long
        </div>
        <div
          class="alert alert-warning"
          *ngIf="adminRegister  .controls.Lname.touched && adminRegister  .controls.Lname.errors?.['minlength']"
        >
          The Last name is too short
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          formControlName="Email"
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
        />

        <div
          class="alert alert-warning"
          *ngIf="Email?.touched && adminRegister  .controls.Email.errors?.['required']"
        >
          This field is required
        </div>
        <div
          class="alert alert-warning"
          *ngIf="adminRegister  .controls.Email.touched && adminRegister  .controls.Email.errors?.['pattern']"
        >
          Please enter email in correct format
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          formControlName="Password"
          type="password"
          class="form-control"
          id="password"
        />
      </div>
      <div
        class="alert alert-warning"
        *ngIf="Password?.touched && adminRegister .controls.Password.errors?.['required']"
      >
        This field is required
      </div>
      <div
        class="alert alert-warning"
        *ngIf="adminRegister  .controls.Password.touched && adminRegister .controls.Password.errors?.['pattern']"
      >
        <ol>
          <li>Password length between 8 and 20 characters</li>
          <li>At least one uppercase letter</li>
          <li>At least one lowercase letter</li>
          <li>At least one digit (number)</li>
          <li>Allows special characters such as !&commat;#$%^&*()_+</li>
        </ol>
      </div>
      <div class="mb-3">
        <label for="confirmpassword" class="form-label"
          >Confirm Password:</label
        >
        <input
          formControlName="ConfirmPassword"
          type="password"
          class="form-control"
          id="confirmpassword"
        />
      </div>
      <div
        class="alert alert-warning"
        *ngIf="ConfirmPassword?.touched && adminRegister  .controls.ConfirmPassword.errors?.['required']"
      >
        This field is required
      </div>
      <div
        class="alert alert-warning"
        *ngIf="
          ConfirmPassword?.touched &&
          adminRegister.value.Password != adminRegister.value.ConfirmPassword
        "
      >
        Password doesn't match
      </div>
      <div class="mb-3">
        <label for="phonenumber" class="form-label">Phone Number</label>
        <input
          formControlName="PhoneNumber"
          type="text"
          class="form-control"
          id="phonenumber"
        />
      </div>
      <div
        class="alert alert-warning"
        *ngIf="PhoneNumber?.touched && adminRegister  .controls.PhoneNumber.errors?.['required']"
      >
        This field is required
      </div>
      <div
        class="alert alert-warning"
        *ngIf="adminRegister  .controls.PhoneNumber.touched && adminRegister  .controls.PhoneNumber.errors?.['maxlength']"
      >
        Please Enter Correct Phone Number
      </div>
      <div
        class="alert alert-warning"
        *ngIf="adminRegister  .controls.PhoneNumber.touched && adminRegister  .controls.PhoneNumber.errors?.['minlength']"
      >
        Please Enter Correct Phone Number
      </div>
      <div class="mb-3">
        <label for="role" class="form-label">Roles :</label>
        <input
          formControlName="Role"
          type="text"
          readonly
          class="form-control"
          id="role"
          placeholder="Admin"
        />
      </div>
      <div
        class="alert alert-warning"
        *ngIf="PhoneNumber?.touched && adminRegister  .controls.PhoneNumber.errors?.['required']"
      >
        This field is required
      </div>
      <div class="mb-3">
        <label for="zipcode" class="form-label">Zip Code</label>
        <input
          formControlName="ZipCode"
          type="text"
          class="form-control"
          id="zipcode"
        />
      </div>
      <div
        class="alert alert-warning"
        *ngIf="ZipCode?.touched && adminRegister  .controls.ZipCode.errors?.['required']"
      >
        This field is required
      </div>
      <div
        class="alert alert-warning"
        *ngIf="adminRegister  .controls.ZipCode.touched && adminRegister  .controls.ZipCode.errors?.['maxlength']"
      >
        Please Enter Correct Zip Code
      </div>
      <div
        class="alert alert-warning"
        *ngIf="adminRegister  .controls.ZipCode.touched && adminRegister  .controls.ZipCode.errors?.['minlength']"
      >
        Please Enter Correct Zip Code
      </div>
      <div class="alert alert-warning" *ngIf="tryAgainError">
        This user name is already exist
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
