nav {
  margin-top: 0;
  padding-top: 0;
}
.container-fluid {
  background-color: #044e2e;
  margin-top: 0;
  padding-top: 0;
  align-items: center;
}
.container-fluid a img {
  width: 40px;
  height: 40px;
}
.nav-item a {
  color: #ffff;
}
.searchform {
  justify-content: space-evenly;
}
.Register {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Register a {
  text-decoration: none;
  color: #73ba9b;
}
#navbarSupportedContent ul {
  width: 100%;
  padding-left: 25%;

  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
  align-items: center;
}
#search {
  width: 50%;
}
#log {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  justify-self: flex-end;
}
